[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lightweight-charts = "*"
pyqt5 = "*"
qtpy = "*"
pyqtwebengine = "*"
openai = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
